In [4]:
import pandas as pd
import numpy as np
# data structures is an important part

In [10]:
data = {"kala":[1,2,3,4,5,6,7,8,9],
        "gora":[2,3,4,5,6,7,8,9,0],
       }
df = pd.DataFrame(data)
df

   kala  gora
0     1     2
1     2     3
2     3     4
3     4     5
4     5     6
5     6     7
6     7     8
7     8     9
8     9     0

In [13]:
np.argmax(df["gora"]) # returns the index of the maximum value

7

In [15]:
np.argmax?

In [24]:
df['kala'].max()

9