In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
dataset = pd.read_csv("Ads.csv")

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
dummy = pd.get_dummies(dataset['Gender'])

In [5]:
df = dataset.drop(columns=['Gender','User ID'])
df = pd.concat((df,dummy),axis=1)
df.head()

   Age  EstimatedSalary  Purchased  Female  Male
0   19            19000          0       0     1
1   35            20000          0       0     1
2   26            43000          0       1     0
3   27            57000          0       1     0
4   19            76000          0       0     1

# spliting into X and Y

In [6]:
X = df.drop(columns="Purchased")
y = df.Purchased

# Splitting the dataset into the training and testing data

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=50)

In [8]:
X_train.head()

     Age  EstimatedSalary  Female  Male
203   41            71000       1     0
264   48            90000       0     1
338   38            55000       1     0
261   36           144000       0     1
216   49            65000       0     1

In [9]:
y_train.head()

203    0
264    1
338    0
261    1
216    0
Name: Purchased, dtype: int64

# Feature Scaling

In [10]:
# why are we doing feaure acling is a good question ...
'''
Actually we need to scale features when we have the features in very different ranges. 
Like the salary feature is very large compared to the age and hence this could effect the peerformance as it would make the model bias towards the Salary feature.
lets try with scaling and non scaling both and compare the accuracy..
'''

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Model Training

In [23]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [24]:
y_pred = classifier.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.94