In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
dataset = pd.read_csv("Ads.csv")

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
dummy = pd.get_dummies(dataset['Gender'])

In [5]:
df = dataset.drop(columns=['Gender','User ID'])
df = pd.concat((df,dummy),axis=1)
df.head()

   Age  EstimatedSalary  Purchased  Female  Male
0   19            19000          0       0     1
1   35            20000          0       0     1
2   26            43000          0       1     0
3   27            57000          0       1     0
4   19            76000          0       0     1

# spliting into X and Y

In [6]:
X = df.drop(columns=["Purchased"])
y = df.Purchased

# Splitting the dataset into the training and testing data

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=50)

In [8]:
X_train.head()

     Age  EstimatedSalary
203   41            71000
264   48            90000
338   38            55000
261   36           144000
216   49            65000

In [9]:
y_train.head()

203    0
264    1
338    0
261    1
216    0
Name: Purchased, dtype: int64

# Feature Scaling

In [14]:
# why are we doing feaure acling is a good question ...
'''
Actually we need to scale features when we have the features in very different ranges. 
Like the salary feature is very large compared to the age and hence this could effect the peerformance as it would make the model bias towards the Salary feature.
lets try with scaling and non scaling both and compare the accuracy..
'''

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
X_train

array([[ 0.24534512,  0.02320768],
       [ 0.90758772,  0.57439019],
       [-0.03847314, -0.44094601],
       [-0.22768531,  2.14090889],
       [ 1.0021938 , -0.15084995],
       [ 0.43455729,  1.21260151],
       [ 1.19140597,  2.19892811],
       [ 0.3399512 ,  0.98052467],
       [-0.3222914 ,  0.02320768],
       [ 0.71837554,  0.25528453],
       [-0.60610966,  1.35764954],
       [-0.984534  ,  0.54538059],
       [ 0.15073903, -0.38292679],
       [ 0.71837554, -1.39826299],
       [ 0.15073903,  0.02320768],
       [ 2.04286074, -1.05014772],
       [ 0.24534512,  0.05221729],
       [ 0.15073903,  0.22627492],
       [-0.88992791,  2.25694732],
       [-0.60610966, -1.51430141],
       [ 0.3399512 ,  0.28429413],
       [ 0.81298163, -1.4562822 ],
       [-0.984534  , -0.96311891],
       [-1.55217051,  0.31330374],
       [ 1.94825466,  0.16825571],
       [-0.13307923,  0.13924611],
       [ 1.85364857,  2.14090889],
       [ 1.19140597, -1.36925338],
       [-0.41689748, -0.78906127],
       [-0.03847314,  1.24161112],
       [-0.79532183,  1.87982244],
       [-0.51150357, -0.29589798],
       [-0.70071574,  1.38665915],
       [ 0.15073903, -0.26688837],
       [-0.88992791,  0.28429413],
       [-1.17374617,  0.45835177],
       [ 0.43455729,  1.82180323],
       [-0.13307923,  0.19726532],
       [ 1.28601206,  1.27062073],
       [-0.03847314, -0.26688837],
       [ 0.24534512,  0.48736137],
       [-0.79532183,  1.06755349],
       [ 1.09679989,  0.51637098],
       [-1.36295834, -1.48529181],
       [ 0.71837554, -1.10816693],
       [-1.26835226, -1.39826299],
       [-1.07914008, -1.13717654],
       [ 0.05613294,  0.13924611],
       [-0.60610966,  0.86448625],
       [ 0.90758772, -1.19519575],
       [ 0.71837554,  0.34231335],
       [-0.79532183, -0.23787877],
       [ 1.75904249, -1.07915733],
       [ 0.15073903,  2.08288968],
       [-0.51150357, -0.55698443],
       [-0.3222914 , -0.35391719],
       [ 1.38061814, -1.05014772],
       [-1.74138268, -1.36925338],
       [-1.74138268, -0.61500364],
       [-1.17374617,  0.28429413],
       [ 0.81298163,  1.24161112],
       [ 0.90758772, -0.84708048],
       [ 1.09679989, -0.99212851],
       [-0.60610966,  1.87982244],
       [-0.22768531,  1.61873599],
       [ 0.24534512,  0.28429413],
       [-0.3222914 ,  2.22793771],
       [-1.6467766 , -1.57232062],
       [ 1.6644364 ,  0.98052467],
       [-0.3222914 ,  0.51637098],
       [-0.984534  , -0.76005167],
       [-0.03847314,  0.02320768],
       [-0.3222914 ,  0.25528453],
       [ 0.05613294,  1.85081284],
       [ 1.0021938 ,  2.05388008],
       [ 0.90758772,  1.85081284],
       [-0.3222914 , -1.36925338],
       [-0.13307923,  0.28429413],
       [ 1.94825466, -0.81807088],
       [-1.93059486, -0.52797482],
       [ 0.90758772,  1.41566875],
       [-1.74138268,  0.45835177],
       [ 0.81298163, -0.78906127],
       [-0.3222914 , -0.44094601],
       [ 0.05613294,  0.74844782],
       [-0.13307923, -0.52797482],
       [ 0.24534512, -0.32490758],
       [-0.13307923,  1.93784165],
       [-0.22768531,  1.38665915],
       [-1.17374617,  0.40033256],
       [-1.36295834, -1.36925338],
       [-0.70071574, -0.06382113],
       [ 1.28601206, -1.4272726 ],
       [-0.3222914 , -0.49896522],
       [ 1.94825466,  0.51637098],
       [ 0.05613294,  1.85081284],
       [-1.17374617,  0.05221729],
       [-1.45756443, -1.22420536],
       [ 0.62376946, -1.39826299],
       [-0.3222914 ,  0.77745743],
       [ 2.04286074,  1.09656309],
       [ 2.04286074,  0.92250546],
       [ 1.85364857,  0.89349585],
       [ 1.75904249, -1.28222457],
       [-0.51150357, -0.78906127],
       [ 0.05613294, -0.26688837],
       [ 0.71837554,  0.1102365 ],
       [-1.17374617, -1.57232062],
       [ 0.3399512 ,  0.25528453],
       [ 0.15073903, -0.15084995],
       [ 1.94825466, -1.19519575],
       [ 0.3399512 ,  0.57439019],
       [-0.3222914 , -1.31123417],
       [ 1.6644364 ,  1.82180323],
       [ 1.94825466,  1.73477442],
       [-1.07914008, -1.54331102],
       [ 0.62376946, -1.10816693],
       [-1.17374617,  1.38665915],
       [-0.03847314,  1.21260151],
       [-0.3222914 ,  1.09656309],
       [ 1.09679989, -1.4562822 ],
       [-0.3222914 , -0.90509969],
       [-0.3222914 ,  0.05221729],
       [-0.3222914 ,  0.19726532],
       [-0.03847314, -0.15084995],
       [ 0.43455729,  1.70576481],
       [ 0.15073903,  0.13924611],
       [-1.6467766 ,  0.51637098],
       [-1.83598877,  0.42934216],
       [-1.36295834,  0.40033256],
       [-0.60610966,  1.35764954],
       [ 2.04286074,  0.37132295],
       [-0.3222914 , -1.25321496],
       [ 1.47522423,  0.98052467],
       [ 0.15073903, -0.38292679],
       [ 1.75904249,  1.50269757],
       [-1.74138268,  0.1102365 ],
       [-0.70071574, -1.05014772],
       [ 0.24534512,  0.05221729],
       [ 0.81298163, -0.61500364],
       [ 0.81298163, -0.67302285],
       [-0.13307923, -0.44094601],
       [ 0.24534512, -0.20886916],
       [-1.07914008, -0.35391719],
       [ 0.81298163, -0.55698443],
       [-0.22768531,  0.13924611],
       [ 0.3399512 , -0.00580192],
       [-0.88992791, -0.67302285],
       [ 0.05613294,  1.03854388],
       [-0.51150357, -0.84708048],
       [-0.88992791, -0.78906127],
       [-0.3222914 , -0.38292679],
       [ 1.38061814,  2.11189929],
       [ 1.56983032,  1.73477442],
       [-0.03847314, -0.32490758],
       [ 1.0021938 , -0.99212851],
       [ 2.04286074, -0.70203246],
       [-0.22768531, -0.29589798],
       [-0.22768531, -0.46995561],
       [ 0.15073903, -0.29589798],
       [-0.41689748, -0.78906127],
       [ 1.85364857, -0.67302285],
       [-0.88992791,  0.37132295],
       [ 0.05613294,  1.50269757],
       [-1.83598877, -1.4272726 ],
       [ 0.81298163, -1.05014772],
       [-0.3222914 , -0.32490758],
       [-0.22768531, -0.20886916],
       [ 0.15073903, -0.32490758],
       [-0.60610966, -1.51430141],
       [-1.93059486,  0.45835177],
       [-1.83598877, -0.00580192],
       [-0.03847314, -0.58599403],
       [-0.22768531, -1.07915733],
       [-0.13307923, -0.38292679],
       [ 0.3399512 ,  2.28595692],
       [-0.79532183,  0.28429413],
       [-1.55217051, -1.51430141],
       [ 1.94825466,  0.37132295],
       [ 1.09679989, -0.76005167],
       [-0.984534  ,  0.25528453],
       [ 1.0021938 ,  0.45835177],
       [-0.70071574,  0.1102365 ],
       [ 1.38061814,  0.05221729],
       [ 0.24534512, -0.29589798],
       [-0.22768531, -0.52797482],
       [-1.93059486,  0.34231335],
       [-0.41689748,  1.21260151],
       [ 0.05613294,  0.0812269 ],
       [-1.45756443, -0.64401324],
       [ 0.24534512,  0.05221729],
       [ 0.81298163, -1.36925338],
       [ 0.62376946, -0.73104206],
       [ 1.0021938 ,  0.51637098],
       [-0.51150357, -1.13717654],
       [ 1.0021938 , -1.22420536],
       [-0.60610966,  2.31496653],
       [-0.70071574, -1.60133023],
       [-0.13307923,  0.1102365 ],
       [ 1.47522423,  1.09656309],
       [ 1.85364857, -1.36925338],
       [ 0.62376946, -1.28222457],
       [ 0.62376946,  0.25528453],
       [-0.13307923,  0.02320768],
       [-1.55217051, -0.20886916],
       [-0.13307923,  0.25528453],
       [ 1.0021938 , -0.90509969],
       [-1.07914008, -0.35391719],
       [-0.79532183,  0.54538059],
       [ 1.19140597,  1.85081284],
       [ 0.81298163, -1.16618615],
       [ 1.0021938 ,  0.54538059],
       [-0.41689748,  1.29963033],
       [ 0.90758772,  1.76378402],
       [-0.13307923, -0.23787877],
       [-0.3222914 , -0.29589798],
       [ 0.81298163,  1.06755349],
       [ 1.38061814,  0.98052467],
       [-1.83598877,  0.16825571],
       [-0.984534  ,  0.48736137],
       [-0.03847314, -0.58599403],
       [ 1.85364857, -0.9341093 ],
       [ 0.81298163,  1.00953428],
       [-0.51150357, -0.03481153],
       [ 1.38061814,  0.34231335],
       [ 1.56983032,  1.58972639],
       [-1.17374617, -1.60133023],
       [-1.74138268, -0.99212851],
       [-1.07914008, -0.46995561],
       [ 1.75904249,  0.1102365 ],
       [ 0.24534512,  0.25528453],
       [-0.984534  , -0.32490758],
       [-0.22768531,  1.58972639],
       [-0.13307923,  0.66141901],
       [ 0.3399512 ,  1.09656309],
       [-0.984534  , -1.10816693],
       [ 1.28601206,  2.31496653],
       [-1.45756443, -1.4562822 ],
       [ 0.05613294,  0.25528453],
       [-0.88992791, -0.78906127],
       [ 0.3399512 , -0.49896522],
       [-1.74138268,  0.34231335],
       [-0.79532183, -1.54331102],
       [ 0.15073903,  0.05221729],
       [-0.51150357, -1.22420536],
       [-0.3222914 , -1.39826299],
       [-1.45756443, -0.12184034],
       [-0.41689748,  0.05221729],
       [ 0.90758772, -1.07915733],
       [-0.70071574,  0.16825571],
       [ 0.71837554, -0.32490758],
       [-1.93059486, -0.76005167],
       [ 1.6644364 , -0.29589798],
       [ 0.3399512 , -0.17985955],
       [-1.83598877, -1.31123417],
       [ 0.3399512 , -0.46995561],
       [-0.88992791,  0.37132295],
       [-0.3222914 ,  0.6033998 ],
       [-0.88992791, -1.22420536],
       [-1.83598877, -1.48529181],
       [ 0.05613294,  0.02320768],
       [ 0.15073903,  0.13924611],
       [ 1.47522423, -1.28222457],
       [ 0.90758772, -1.16618615],
       [ 0.24534512, -0.52797482],
       [-1.07914008, -1.4562822 ],
       [ 1.0021938 , -1.22420536],
       [-1.6467766 ,  0.05221729],
       [-1.17374617, -1.54331102],
       [-0.70071574, -0.35391719],
       [ 0.24534512, -1.16618615],
       [-1.07914008,  0.40033256],
       [ 1.28601206,  1.96685126],
       [-1.17374617, -1.02113812],
       [-0.3222914 ,  0.13924611],
       [-0.70071574,  0.54538059],
       [ 0.90758772,  1.96685126],
       [ 0.71837554,  1.35764954],
       [-0.984534  , -0.44094601],
       [ 0.71837554,  0.74844782],
       [ 0.15073903, -0.67302285],
       [-0.79532183,  1.32863994],
       [ 0.05613294,  0.19726532],
       [-0.3222914 , -0.9341093 ],
       [ 0.71837554,  0.51637098],
       [-1.36295834, -1.25321496],
       [ 0.52916337, -0.90509969],
       [-0.3222914 , -0.76005167],
       [ 1.85364857,  0.71943822],
       [-1.6467766 , -0.06382113],
       [-0.13307923,  0.28429413],
       [ 1.28601206, -0.9341093 ],
       [ 0.05613294, -0.32490758],
       [ 0.3399512 ,  0.28429413],
       [-1.26835226,  0.28429413],
       [-0.79532183,  0.48736137],
       [-0.13307923,  0.22627492],
       [-0.03847314,  0.28429413],
       [ 0.71837554, -0.84708048],
       [-0.3222914 , -0.67302285]])

# Model Training

In [11]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [12]:
y_pred = classifier.predict(X_test)

In [13]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[68  2]
 [13 17]]

0.85